.container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2; 
}

.gameLostContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border: 5px solid #463714;
    border-radius: 1%;
    background-image: url(../assets/images/GentlemenCho.jpg);
    background-position: center;
    background-size: contain;
    color: #C89B3C;
    text-shadow: 1px 1px 2px black;
}

.gameLostContainer h2 {
    font-size: 4em;
}

.gameLostContainer:hover {
    border: 5px solid #C8AA6E;
    border-radius: 0%;
}

.pageButton {
    width: 200px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  .pageButton:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    cursor: pointer;
    transition: 0.1s;
  }
  
  .pageButton:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
  }